.MusicContainer {
  margin-top: 3rem;
  padding: 0 2rem;

  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
  }

  ul {
    width: 70%;
    li {
      margin: 1.5rem 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p:nth-child(1) {
        font-size: 1.3vw;
        font-weight: 600;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }
      p:nth-child(2) {
        font-size: 1.2vw;
        font-family: "Courier New", Courier, monospace;
      }

      .playPauseBtn {
        audio {
          display: none;
        }

        button {
          background: none;
          border: none;
          i {
            font-size: 1.5vw;
          }
        }
      }
    }
  }
}
